<% if @random_images.empty? %>
  <h1>Please upload some images to play.</h1>
<% else %>
<div id="play-game">
  <h1 id="counter"></h1>

  <div class="play-image-container">
    <img id="counter-image" src="" alt="" />
  </div>
</div>

<button id="save-play-button">Save Play!</button>
<% end %>

<script type="text/json" id="images-json">
<%= ActiveSupport::JSON.encode(generate_uploads_json(@random_images)).html_safe %>
</script>

<table>
  <thead>
    <tr>
      <th>Counter</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody id="plays-table-tbody">
    <% @plays.each do |play| %>
      <tr>
        <td><%= play.timer %></td>
        <td><%= image_tag(play.upload.file.attachment) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
