<h2>Uploads</h2>

<%= render "form", upload: @upload %>

<h3>Current uploads</h3>

<% if @uploads.empty? %>
  <p>There are no uploads yet.</p>
<% else %>
  <%= render "list", uploads: @uploads %>
<% end %>
